Repository hideokamoto/hidetaka.dev.2023: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-lint, run-test, run-build, run-cf-build, run-all

fix: aboutページの登壇依頼者向けコピー用プロフィールセクションを削除
  src/components/containers/pages/AboutPage.tsx
Due: run-lint, run-test, run-build, run-cf-build

fix: 現職をDigitalCubeからCircleCIに修正(経歴が古かった)
  src/components/containers/pages/AboutPage.tsx
  src/config.ts
  src/libs/jsonLd.test.ts
Due: run-lint, run-test, run-build, run-cf-build

fix: Highlightsセクションの自己言及的なAI Slop文体を修正
  src/components/home/Highlights.tsx
Due: run-lint, run-test, run-build, run-cf-build

fix: Tailwind の content グロブに src/libs を追加しCTAボタンの余白を修正
  src/libs/componentStyles.utils.test.ts
  src/libs/componentStyles.utils.ts
  tailwind.config.cjs
Due: run-lint, run-test, run-build, run-cf-build

feat: プロフィール情報の単一ソースを profile-as-a-service に移す
  .env.example
  src/app/layout.tsx
  src/components/containers/ProfileCardLoader.component.test.tsx
  src/components/containers/ProfileCardLoader.tsx
  src/components/containers/pages/AboutPage.tsx
  src/components/containers/pages/BlogDetailPage.tsx
  src/components/containers/pages/DevNoteDetailPage.tsx
  src/components/containers/pages/EventDetailPage.tsx
  src/components/containers/pages/NewsDetailPage.tsx
  src/components/containers/pages/ProjectDetailPage.tsx
  src/components/containers/pages/SpeakingDetailPage.tsx
  src/components/content/Profile.tsx
  src/components/ui/BlogDetailSidebar.tsx
  src/components/ui/DevNoteDetailSidebar.tsx
  src/components/ui/NewsDetailSidebar.tsx
  src/components/ui/ProfileCard.tsx
  src/components/ui/ProjectDetailSidebar.tsx
  src/components/ui/SpeakingDetailSidebar.tsx
  src/libs/jsonLd.test.ts
  src/libs/jsonLd.ts
  src/libs/profile/fallback.ts
  src/libs/profile/loadProfile.test.ts
  src/libs/profile/loadProfile.ts
  src/libs/profile/parsePerson.test.ts
  src/libs/profile/parsePerson.ts
  src/libs/profile/types.ts
Due: run-lint, run-test, run-build, run-cf-build

fix: CodeRabbitとcode-reviewの指摘に対応（XSS・タイムアウト欠如・URL未検証等）
  src/app/layout.tsx
  src/components/JsonLd.component.test.tsx
  src/components/JsonLd.tsx
  src/components/containers/ProfileCardLoader.component.test.tsx
  src/components/containers/ProfileCardLoader.tsx
  src/components/containers/pages/AboutPage.tsx
  src/libs/jsonLd.test.ts
  src/libs/jsonLd.ts
  src/libs/profile/fallback.ts
  src/libs/profile/loadProfile.test.ts
  src/libs/profile/loadProfile.ts
  src/libs/profile/parsePerson.test.ts
  src/libs/profile/parsePerson.ts
Due: run-lint, run-test, run-build, run-cf-build

feat: add Cursor Cloud Agent harness for Chunk sidecar
  .cursor/environment.json
  .cursor/hooks.json
  .cursor/hooks/chunk-commit-gate.sh
  .cursor/hooks/chunk-validate-stop.sh
  .cursor/setup-chunk.sh
  AGENTS.md
  docs/guide/harnesses/chunk-sidecar.md
  environment.json
Due: none

chore: refresh Chunk sidecar snapshot and lockfile
  .chunk/config.json
  pnpm-lock.yaml
Due: none

fix: regenerate lockfile with pnpm 10 for CI compatibility
  pnpm-lock.yaml
Due: none

fix: verify installed chunk CLI version before reuse
  .cursor/setup-chunk.sh
Due: none

feat: /about に実績サマリー（活動の記録）セクションを追加
  src/app/about/page.tsx
  src/app/ja/about/page.tsx
  src/components/containers/pages/AboutPage.tsx
  src/components/ui/stats/ProfileStatsSection.tsx
  src/components/ui/stats/StatCardGrid.tsx
  src/components/ui/stats/StatHighlights.tsx
  src/components/ui/stats/YearlyActivityTable.tsx
  src/libs/stats/loadProfileStats.ts
  src/libs/stats/yearly.test.ts
  src/libs/stats/yearly.ts
Due: run-lint, run-test, run-build, run-cf-build

fix: 執筆統計に雑記・Stripe・DevNotes の投稿タイプを追加
  src/components/ui/stats/ProfileStatsSection.tsx
  src/libs/stats/loadProfileStats.ts
Due: run-lint, run-test, run-build, run-cf-build

fix: session-start hookをpnpmに揃えて依存関係の解決先を一致させる
  .claude/hooks/session-start.sh
  package.json
Due: run-lint, run-test, run-build, run-cf-build

fix: pnpm/action-setupのバージョン指定重複を解消
  .github/workflows/test.yml
Due: none

chore: Next.js自動生成型定義を更新
  next-env.d.ts
Due: none

fix: ProfileCardLoaderをCSRからサーバー側取得に変更
  src/components/containers/ProfileCardLoader.component.test.tsx
  src/components/containers/ProfileCardLoader.tsx
  src/libs/profile/loadProfile.ts
Due: run-lint, run-test, run-build, run-cf-build

feat: Google検索の優先ソース（Preferred Sources）ボタンをフッターに追加
  src/components/GooglePreferredSource.tsx
  src/components/tailwindui/Footer.tsx
Due: run-lint, run-test, run-build, run-cf-build

fix: Google優先ソースボタンにページ言語を渡す
  src/components/GooglePreferredSource.tsx
  src/components/tailwindui/Footer.tsx
Due: run-lint, run-test, run-build, run-cf-build

fix: add WORKER_SELF_REFERENCE service binding for ISR revalidation
  wrangler.jsonc
Due: run-cf-build

test: close gaps found by chunk mutation testing
  .agents/skills/chunk-review/SKILL.md
  .agents/skills/chunk-sidecar-setup/SKILL.md
  .agents/skills/chunk-sidecar/SKILL.md
  .agents/skills/chunk-testing-gaps/SKILL.md
  .agents/skills/debug-ci-failures/SKILL.md
  .claude/skills/chunk-review/SKILL.md
  .claude/skills/chunk-sidecar-setup/SKILL.md
  .claude/skills/chunk-sidecar/SKILL.md
  .claude/skills/chunk-testing-gaps/SKILL.md
  .claude/skills/debug-ci-failures/SKILL.md
  .cursor/hooks/chunk-commit-gate.sh
  .cursor/setup-chunk.sh
  .gitignore
  AGENTS.md
  environment.json
  scripts/mutation-triage.sh
  src/libs/projectStatus.utils.test.ts
  src/libs/stats/aggregate.test.ts
Due: run-lint, run-test, run-build, run-cf-build

chore: refresh sidecar snapshot with pnpm install baked in
  .chunk/config.json
Due: none

test: add logger tests to close mutation testing gap
  scripts/mutation-triage.sh
  src/libs/logger.test.ts
Due: run-lint, run-test, run-build, run-cf-build

fix: address CodeRabbit review feedback on mutation testing PR
  .agents/skills/chunk-review/SKILL.md
  .agents/skills/chunk-sidecar-setup/SKILL.md
  .agents/skills/chunk-testing-gaps/SKILL.md
  .claude/skills/chunk-review/SKILL.md
  .claude/skills/chunk-sidecar-setup/SKILL.md
  .claude/skills/chunk-testing-gaps/SKILL.md
  .cursor/hooks/chunk-commit-gate.sh
  environment.json
  scripts/mutation-triage.sh
Due: none

fix: address follow-up CodeRabbit review on trap scope and checksum paths
  .agents/skills/chunk-sidecar-setup/SKILL.md
  .claude/skills/chunk-sidecar-setup/SKILL.md
  scripts/mutation-triage.sh
Due: none

fix: address CodeRabbit round 3 review feedback
  .agents/skills/chunk-sidecar-setup/SKILL.md
  .claude/skills/chunk-sidecar-setup/SKILL.md
  scripts/mutation-triage.sh
Due: none

test: chunk mutation testing で検出したテストギャップを改善 (#259)
  .agents/skills/chunk-review/SKILL.md
  .agents/skills/chunk-sidecar-setup/SKILL.md
  .agents/skills/chunk-sidecar/SKILL.md
  .agents/skills/chunk-testing-gaps/SKILL.md
  .agents/skills/debug-ci-failures/SKILL.md
  .chunk/config.json
  .claude/skills/chunk-review/SKILL.md
  .claude/skills/chunk-sidecar-setup/SKILL.md
  .claude/skills/chunk-sidecar/SKILL.md
  .claude/skills/chunk-testing-gaps/SKILL.md
  .claude/skills/debug-ci-failures/SKILL.md
  .cursor/hooks/chunk-commit-gate.sh
  .cursor/setup-chunk.sh
  .gitignore
  AGENTS.md
  environment.json
  scripts/mutation-triage.sh
  src/libs/logger.test.ts
  src/libs/projectStatus.utils.test.ts
  src/libs/stats/aggregate.test.ts
Due: run-lint, run-test, run-build, run-cf-build

fix: Cloudflare Cache API の waitUntil 参照ミスを修正 (HIDETAKA-DEV-E)
  src/app/api/thumbnail/dev-notes/[id]/route.tsx
  src/app/api/thumbnail/events/[id]/route.tsx
  src/app/api/thumbnail/thoughts/[id]/route.tsx
  src/libs/api/cloudflareCache.test.ts
  src/libs/api/cloudflareCache.ts
  src/libs/api/thumbnailUtils.ts
Due: run-lint, run-test, run-build, run-cf-build

fix: コードレビュー指摘対応 — callback二重実行防止と型整理
  next-env.d.ts
  src/app/api/thumbnail/dev-notes/[id]/route.tsx
  src/app/api/thumbnail/events/[id]/route.tsx
  src/app/api/thumbnail/thoughts/[id]/route.tsx
  src/libs/api/cloudflareCache.test.ts
  src/libs/api/cloudflareCache.ts
  src/libs/api/thumbnailUtils.ts
Due: run-lint, run-test, run-build, run-cf-build

fix: CodeRabbit レビュー指摘対応 — キャッシュフォールバックとテスト改善
  src/libs/api/cloudflareCache.test.ts
  src/libs/api/cloudflareCache.ts
Due: run-lint, run-test, run-build, run-cf-build

fix(stats): コードレビュー指摘5件を修正
  pnpm-lock.yaml
  src/app/about/page.tsx
  src/app/ja/about/page.tsx
  src/components/ui/stats/ProfileStatsSection.tsx
  src/libs/stats/loadProfileStats.ts
  src/libs/stats/yearly.test.ts
  src/libs/stats/yearly.ts
Due: run-lint, run-test, run-build, run-cf-build

fix: lockfile から消えたセキュリティ overrides を復元し CI を復旧
  pnpm-lock.yaml
Due: none

fix(stats): 公開日が全件壊れている場合に累計記事数 0 を描かない
  src/libs/stats/loadProfileStats.ts
Due: run-lint, run-test, run-build, run-cf-build

refactor(stats): CodeRabbit 指摘のうち規約に沿う2件を反映
  src/components/ui/stats/ProfileStatsSection.tsx
  src/components/ui/stats/StatCardGrid.tsx
  src/components/ui/stats/StatHighlights.tsx
  src/components/ui/stats/YearlyActivityTable.tsx
  src/libs/stats/loadProfileStats.ts
  src/libs/stats/yearly.test.ts
Due: run-lint, run-test, run-build, run-cf-build

refactor(stats): テーマトークンの inline style を Tailwind arbitrary utility へ
  src/components/containers/pages/AboutPage.tsx
  src/components/ui/stats/ProfileStatsSection.tsx
  src/components/ui/stats/StatCardGrid.tsx
  src/components/ui/stats/YearlyActivityTable.tsx
Due: run-lint, run-test, run-build, run-cf-build

docs(stats): 未記載の関数に JSDoc を追加し、付け間違いを修正
  src/components/ui/stats/ProfileStatsSection.tsx
  src/components/ui/stats/StatHighlights.tsx
  src/libs/stats/loadProfileStats.ts
  src/libs/stats/yearly.ts
Due: run-lint, run-test, run-build, run-cf-build

feat: ブログ・ニュース・dev-notes記事にMarkdown版へのalternateリンクを追加
  src/libs/metadata.ts
  src/middleware.ts
Due: run-lint, run-test, run-build, run-cf-build

feat: /llms.txt と /about.md でエージェント向けプロフィール誘導を追加
  src/app/api/markdown/about/route.test.ts
  src/app/api/markdown/about/route.ts
  src/app/llms.txt/route.ts
  src/libs/llmsTxt.test.ts
  src/libs/llmsTxt.ts
  src/libs/middleware/markdownRewriteRules.test.ts
  src/libs/middleware/markdownRewriteRules.ts
  src/libs/profile/formatProfileMarkdown.test.ts
  src/libs/profile/formatProfileMarkdown.ts
  src/middleware.ts
Due: run-lint, run-test, run-build, run-cf-build

test: Markdown alternateリンクの回帰テストを追加
  src/libs/metadata.test.ts
  src/middleware.test.ts
Due: run-lint, run-test, run-build, run-cf-build

feat: robots.txtにllms.txtの場所をコメントで明記
  src/app/robots.ts
  src/app/robots.txt/route.ts
  src/libs/robotsTxt.test.ts
  src/libs/robotsTxt.ts
Due: run-lint, run-test, run-build, run-cf-build

fix: Acceptヘッダーの大文字小文字を正規化し、docstring漏れを補う
  src/app/api/markdown/about/route.ts
  src/app/llms.txt/route.ts
  src/app/robots.txt/route.ts
  src/libs/profile/formatProfileMarkdown.ts
  src/middleware.test.ts
  src/middleware.ts
Due: run-lint, run-test, run-build, run-cf-build

Path conditions:
  run-lint: ((any of: src/.*\.(ts|tsx|js|jsx|json|css)) or (any of: biome\.json)) or (any of: package(-lock)?\.json)
  run-test: ((any of: src/.*) or (any of: vitest\.config\.ts)) or (any of: package(-lock)?\.json)
  run-build: (((((any of: src/.*) or (any of: public/.*)) or (any of: next\.config\.ts)) or (any of: tsconfig\.json)) or (any of: tailwind\.config\.cjs)) or (any of: package(-lock)?\.json)
  run-cf-build: ((((((any of: src/.*) or (any of: public/.*)) or (any of: next\.config\.ts)) or (any of: tsconfig\.json)) or (any of: tailwind\.config\.cjs)) or (any of: wrangler\.jsonc)) or (any of: package(-lock)?\.json)
  run-all: any of: \.circleci/.*
