Repository hideokamoto/hidetaka.dev.2023: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-lint, run-test, run-build, run-cf-build, run-all

add plan
  .kiro/specs/wordpress-url-to-blog-card/design.md
  .kiro/specs/wordpress-url-to-blog-card/requirements.md
  .kiro/specs/wordpress-url-to-blog-card/tasks.md
Due: none

feat: [1] プロジェクト構造とコアモジュールのセットアップ
  .kiro/specs/wordpress-url-to-blog-card/tasks.md
  src/libs/blogCard/README.md
  src/libs/blogCard/index.ts
  src/libs/blogCard/types.ts
Due: run-lint, run-test, run-build, run-cf-build

feat: [2.1] urlDetector.tsの基本実装
  .kiro/specs/wordpress-url-to-blog-card/tasks.md
  src/libs/blogCard/index.ts
  src/libs/blogCard/urlDetector.ts
Due: run-lint, run-test, run-build, run-cf-build

feat: [2.2] urlDetectorのプロパティテスト実装
  .kiro/specs/wordpress-url-to-blog-card/tasks.md
  .node-version
  src/libs/blogCard/urlDetector.property.test.ts
Due: run-lint, run-test, run-build, run-cf-build

feat: [2.3] urlDetectorのプロパティテスト（除外条件）
  .kiro/specs/wordpress-url-to-blog-card/tasks.md
  src/libs/blogCard/urlDetector.property.test.ts
Due: run-lint, run-test, run-build, run-cf-build

feat: [2.4] urlDetectorのプロパティテスト（複数URL）
  .kiro/specs/wordpress-url-to-blog-card/tasks.md
  src/libs/blogCard/urlDetector.property.test.ts
Due: run-lint, run-test, run-build, run-cf-build

feat: [2.5] urlDetectorのユニットテスト
  .kiro/specs/wordpress-url-to-blog-card/tasks.md
  src/libs/blogCard/urlDetector.test.ts
Due: run-lint, run-test, run-build, run-cf-build

feat: [3] URL検出モジュールの動作確認完了
  .kiro/specs/wordpress-url-to-blog-card/tasks.md
Due: none

feat: [4.1] blogCardTransformer.tsの基本実装
  .kiro/specs/wordpress-url-to-blog-card/tasks.md
  src/libs/blogCard/blogCardTransformer.test.ts
  src/libs/blogCard/blogCardTransformer.ts
Due: run-lint, run-test, run-build, run-cf-build

feat: [4.2] blogCardTransformerのプロパティテスト（変換）
  .kiro/specs/wordpress-url-to-blog-card/tasks.md
  src/libs/blogCard/blogCardTransformer.property.test.ts
Due: run-lint, run-test, run-build, run-cf-build

feat: [4.3] blogCardTransformerのプロパティテスト（iframeタグ生成）
  .kiro/specs/wordpress-url-to-blog-card/tasks.md
  src/libs/blogCard/blogCardTransformer.property.test.ts
Due: run-lint, run-test, run-build, run-cf-build

feat: [4.4] blogCardTransformerのプロパティテスト（複数URL）
  .kiro/specs/wordpress-url-to-blog-card/tasks.md
  src/libs/blogCard/blogCardTransformer.property.test.ts
Due: run-lint, run-test, run-build, run-cf-build

feat: [4.5] blogCardTransformerのプロパティテスト（不正なURL）
  src/libs/blogCard/blogCardTransformer.property.test.ts
  src/libs/blogCard/blogCardTransformer.ts
Due: run-lint, run-test, run-build, run-cf-build

feat: [4.6] blogCardTransformerのユニットテスト
  .kiro/specs/wordpress-url-to-blog-card/tasks.md
  src/libs/blogCard/blogCardTransformer.test.ts
Due: run-lint, run-test, run-build, run-cf-build

feat: [5] URL変換モジュールの動作確認完了
  .kiro/specs/wordpress-url-to-blog-card/tasks.md
  src/libs/blogCard/urlDetector.ts
Due: run-lint, run-test, run-build, run-cf-build

feat: [6.1] TransformedBlogContent.tsxの実装
  .kiro/specs/wordpress-url-to-blog-card/tasks.md
  src/components/BlogPosts/TransformedBlogContent.tsx
Due: run-lint, run-test, run-build, run-cf-build

feat: enhance work page with hero decoration, stats bar, and CTA section
  src/components/containers/pages/WorkPage.tsx
Due: run-lint, run-test, run-build, run-cf-build

feat: [6.2] TransformedBlogContentのプロパティテスト（エラーハンドリング）
  .kiro/specs/wordpress-url-to-blog-card/tasks.md
  src/components/BlogPosts/TransformedBlogContent.property.component.test.tsx
Due: run-lint, run-test, run-build, run-cf-build

feat: [6.3] TransformedBlogContentのプロパティテスト（ラウンドトリップ）
  .kiro/specs/wordpress-url-to-blog-card/tasks.md
  src/libs/blogCard/blogCardTransformer.property.test.ts
Due: run-lint, run-test, run-build, run-cf-build

feat: [6.4] TransformedBlogContentのユニットテスト
  .kiro/specs/wordpress-url-to-blog-card/tasks.md
  src/components/BlogPosts/TransformedBlogContent.component.test.tsx
Due: run-lint, run-test, run-build, run-cf-build

feat: [7.1] BlogDetailPage.tsxの修正
  .kiro/specs/wordpress-url-to-blog-card/tasks.md
  src/components/containers/pages/BlogDetailPage.tsx
Due: run-lint, run-test, run-build, run-cf-build

feat: [7.2] 統合テスト実装
  .kiro/specs/wordpress-url-to-blog-card/tasks.md
  src/components/BlogPosts/TransformedBlogContent.component.test.tsx
Due: run-lint, run-test, run-build, run-cf-build

feat: [8] チェックポイント - 統合の動作確認完了
  .kiro/specs/wordpress-url-to-blog-card/tasks.md
  src/libs/blogCard/index.ts
  src/libs/blogCard/urlDetector.property.test.ts
  src/libs/blogCard/urlDetector.test.ts
Due: run-lint, run-test, run-build, run-cf-build

docs: [9.1] 開発サーバーでの動作確認ガイドを作成
  .kiro/specs/wordpress-url-to-blog-card/TESTING_GUIDE.md
  .kiro/specs/wordpress-url-to-blog-card/tasks.md
Due: none

feat: [9.2] パフォーマンスの確認タスク完了
  .kiro/specs/wordpress-url-to-blog-card/tasks.md
Due: none

docs: [10.1] READMEの更新
  src/libs/blogCard/README.md
Due: run-test, run-build, run-cf-build

feat: [10.2] 型定義のエクスポート
  .kiro/specs/wordpress-url-to-blog-card/tasks.md
  src/components/BlogPosts/TransformedBlogContent.component.test.tsx
  src/components/BlogPosts/TransformedBlogContent.property.component.test.tsx
  src/components/BlogPosts/TransformedBlogContent.tsx
  src/libs/blogCard/index.ts
Due: run-lint, run-test, run-build, run-cf-build

feat: [11] 最終チェックポイント完了
  .kiro/specs/wordpress-url-to-blog-card/tasks.md
  package-lock.json
  src/components/BlogPosts/TransformedBlogContent.component.test.tsx
  src/components/BlogPosts/TransformedBlogContent.tsx
  src/libs/blogCard/index.ts
  src/libs/blogCard/types.ts
Due: run-lint, run-test, run-build, run-cf-build

fix: OGP ServiceのエンドポイントURLを修正
  .kiro/specs/wordpress-url-to-blog-card/TESTING_GUIDE.md
  .kiro/specs/wordpress-url-to-blog-card/design.md
  .kiro/specs/wordpress-url-to-blog-card/requirements.md
  next-env.d.ts
  src/libs/blogCard/README.md
  src/libs/blogCard/blogCardTransformer.property.test.ts
  src/libs/blogCard/blogCardTransformer.test.ts
  src/libs/blogCard/blogCardTransformer.ts
Due: run-lint, run-test, run-build, run-cf-build

pkg update
  package-lock.json
Due: run-lint, run-test, run-build, run-cf-build

fix: add .npmrc with legacy-peer-deps=false and regenerate package-lock.json with webpack peer dependencies
  .npmrc
  package-lock.json
Due: run-lint, run-test, run-build, run-cf-build

docs: add RCA report for npm ci failure on Cloudflare Pages
  docs/npm-ci-failure-cloudflare-rca.md
Due: none

chore: npmからpnpmへ移行してoptional dependencies問題を解決
  .npmrc
  .pages.yaml
  README.md
  pnpm-workspace.yaml
Due: none

chore: pnpm移行の動作確認完了とフォーマット修正
  next-env.d.ts
  package-lock.json
  pnpm-lock.yaml
  src/libs/blogCard/blogCardTransformer.property.test.ts
Due: run-lint, run-test, run-build, run-cf-build

ci: GitHub Actionsワークフローをpnpmに更新
  .github/workflows/test.yml
Due: none

chore: Update GitHub Actions workflow to use pnpm v10
  .github/workflows/test.yml
Due: none

fix: Apply exclusion conditions in property-based tests for URL detection
  src/libs/blogCard/urlDetector.property.test.ts
Due: run-lint, run-test, run-build, run-cf-build

fix: resolve markdown and code quality issues
  README.md
  docs/npm-ci-failure-cloudflare-rca.md
  src/libs/blogCard/blogCardTransformer.property.test.ts
Due: run-lint, run-test, run-build, run-cf-build

add spec
  .kiro/specs/article-cta-component/design.md
  .kiro/specs/article-cta-component/requirements.md
  .kiro/specs/article-cta-component/tasks.md
Due: none

Path conditions:
  run-lint: ((any of: src/.*\.(ts|tsx|js|jsx|json|css)) or (any of: biome\.json)) or (any of: package(-lock)?\.json)
  run-test: ((any of: src/.*) or (any of: vitest\.config\.ts)) or (any of: package(-lock)?\.json)
  run-build: (((((any of: src/.*) or (any of: public/.*)) or (any of: next\.config\.ts)) or (any of: tsconfig\.json)) or (any of: tailwind\.config\.cjs)) or (any of: package(-lock)?\.json)
  run-cf-build: ((((((any of: src/.*) or (any of: public/.*)) or (any of: next\.config\.ts)) or (any of: tsconfig\.json)) or (any of: tailwind\.config\.cjs)) or (any of: wrangler\.jsonc)) or (any of: package(-lock)?\.json)
  run-all: any of: \.circleci/.*
